[user]
    name = Dmitry Kokorev
    email = dmkokorev@yandex-team.ru
[color]
    diff = auto
    status = auto
    branch = auto
    grep = auto
[alias]
    a = add .
    co = checkout
    ci = commit -a
    cim = commit -a -m
    st = status
    b = branch
    l = log --graph --pretty=format:'%C(110)%h%Creset %C(243)[%an]%Creset | %s %C(248)(%ad, %ar)%C(cyan)%d%Creset' --date=short -10
    la = log --graph --pretty=format:'%C(110)%h%Creset %C(242)[%an]%Creset | %s %C(248)(%ad)%C(cyan)%d%Creset' --date=local --all
    pur = pull --rebase
    coma = commit --amend
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,space-before-tab
[grep]
    lineNumber
[merge]
    log = true
    ff = false
[branch]
    autosetuprebase = always
[push]
    default = current
